[Unit]
Description=Inspur BIOS Updater

[Service]
Restart=always
RestartSec=5
ExecStart=/usr/sbin/inspur-bios-updater

[Install]
WantedBy=multi-user.target
